
html{
    scroll-behavior: smooth;
}

body {
    background-color: black;
    text-transform: uppercase;
    color: white;
    text-align: center;
}

.blue {
    color: cyan;
}

.main-box {
    border-style: solid;
    border-color: cyan;
    border-radius: 50px;
    border-width: 5px;
    margin: 30px;
    padding-bottom: 40px;
}

#background-portrait {
    visibility: hidden;
    position: absolute;
}


.background-picture {
    width: 70%;
    height: auto;
    position: absolute;
    left: 20%;
    z-index: -1;
}

header {
    position: relative;
    height: 80vmin;
    width: 100%;
}

h1 {
    position: absolute;
    top: 45%;
    font-size: 7vw;
    text-align: center;
}

.basic-text {
    padding-left: 100px;
    padding-right: 100px;
    line-height: 20px;
    font-size: 20px;
}


/* logo and icons instagram and fb */

.logo-nav {
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 2fr 4fr 1fr;
    grid-template-areas: "logoA navA iconsA";
    align-items: center;
}

.logo {
    width: 22vw;
    height: auto;
    grid-area: logoA;
    justify-self: center;
}

#insta-icon {
    position: absolute;
    left: 0%;
    top: -20px;
}

#fb-icon {
    position: absolute;
    left: 50%;
    top: -20px;
}

.right-icons {
    font-size: 3vw;
    position: relative;
    grid-area: iconsA;

}

#insta-icon:hover, #fb-icon:hover {
    font-size: 3.5vw;
}

/* nav bar */

nav {
    grid-area: navA;
}

.nav-item {
    margin: 20px;
    color: cyan;
    font-size: 2vmax;
    text-decoration: none;
    position: relative;

}

.nav-item::before {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    left: 0;
    bottom: 0;
    background:  linear-gradient(to right, #00ffff, #ffffff);
    transition: all 0.3s ease-in-out;
}

.nav-item:hover:before {
    width: 100%;
}

/* arrows section */

.arrow-down {
    font-size: 2vmax;
    color: cyan;
    position: absolute;
}

.arrow-down:hover {
    font-size: 3vmax;
}


/* h2 section */

.section {
    display: flex;
    align-items: center;
    margin-top: 50px;
}


.line {
    color: cyan;
    border-style: solid;
    border-top: 5px;
    border-width: 5px;
    width: 40px;
}


h2 {
    font-size: 4vmax;
    color: cyan;
    margin-left: 10px;
}


/* forma section */

.forma-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.forma-icon-text {
    margin: 40px;
}

.forma-icon-circle{
    height: 15vmax;
    width: 15vmax;
    border-radius: 50%;
    background: linear-gradient(to right, #00ffff, #ffffff);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.forma-icon-circle::before {
    content: '';
    position: absolute;
    top: -4px; bottom: -4px;
    left: -4px; right: -4px;
    background: linear-gradient(to right,#00ffff, #ffffff);
    z-index: -1;
    border-radius: 50%;
}

.forma-icon-circle:hover {
    background: black;
    cursor: pointer;
}

.forma-icon-circle:hover .change-color {
    background: linear-gradient(to right,#00ffff, #ffffff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: cyan !important;
}

.forma-icon {
    font-size: 5vmax;
    color: black;
    position: absolute;
}

#muted {
    visibility: hidden;
}

#forma-custom {
    font-size: 2.5vmax;
    color: black;
    font-weight: bold;
}

/* video section */
#video-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    visibility: hidden;

}

video {
    position: fixed;
    width: 70%;
    height: auto;
    top: 15%;
    left: 15%;
}

#x-button {
    position: fixed;
    right: 0;
    top: 0;
    margin: 50px;
    font-size: 50px;
    color: white;
    background: none;
    border: none;

}
/* osobnosti section */

.images {
    display: grid;
    justify-items: stretch;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "img1 img2"
                         "img3 img4";
}

.profile-image{
    width: 12vmax;
    height: 12vmax;
    border-radius: 50%;
    margin: 8px;
    border-width: 8px;
    border-style: solid;
    border-color: black ;
}

.profile-image:hover {
    border-color: cyan;
    border-width: 8px;
}


.profile {
    width: 50%;
    height: 50%;
}


/* cennnik section */

.prices {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.price-box {
    width: 20vw;
    height: 20vw;
    background-color: white;
    color: black;
    text-align: center;
    border-style: solid;
    border-color: cyan;
    border-width: 8px;
    border-radius: 15%;
    margin: 20px;
}

.service-name {
    font-size: 3vw;
    margin-bottom: 0px;
}

.service-description {
    font-size: 1.3vw;
    margin: 0;
}

.service-price {
    font-size: 6vw;
    margin-bottom: 10px;
    margin-top: 20px;
}

.service-help {
    margin: 0;
    font-size: 1.3vw;
}


/* kontakt section */

.kontakt-icons {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.kontakt-icon {
    color: white;
}

.kon {
    font-size: 15vmax;
    color: white;
}


@media screen and (max-width: 600px) {
    .main-box {
        border-radius: 25px;
        border-width: 2px;
        margin: 5px;
    }

    .background-picture {
        visibility: hidden;
    }

    #background-portrait {
        visibility: visible;
        width:100%;
        height: auto;
        left: 0;
        top: -100px;
        z-index: -1;
    }
    
    header {
        height: 400px;
    }
    
    h1 {
        top: 60%;
    }
    
    .basic-text {
        padding-left: 50px;
        padding-right: 50px;
        font-size: 12px;
    }

    .logo-nav {
        margin-top: 10px;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "logoA iconsA"
                             "navA    navA";
    }
    
    .logo {
        width: 200px;
        height: auto;
        grid-area: logoA;
        justify-self: center;
    }
    
    #insta-icon {
        position: absolute;
        left: 30%;
        top: -10px;
    }
    
    #fb-icon {
        position: absolute;
        left: 60%;
        top: -10px;
    }

    .right-icons {
        font-size: 30px;
        position: relative;
        grid-area: iconsA;
    
    }
    
    #insta-icon:hover, #fb-icon:hover {
        font-size: 35px;
    }

    .line {
        border-width: 2px;
    }

    .arrow-down {
        font-size: 30px;
    }
    
    .arrow-down:hover {
        font-size: 40px;
    }

    .forma-icon-text {
        margin: 20px;
    }

    .forma-icon-circle{
        height: 130px;
        width: 130px;
    }

    video {
        top: 40%;
    }

    .profile-image{
        width: 120px;
        height: 120px;
    }

    .price-box {
        width: 150px;
        height: 200px;
    }
    
    .service-name {
        font-size: 25px;
        margin-bottom: 0px;
    }
    
    .service-description {
        font-size: 9px;
        margin: 0;
    }
    
    .service-price {
        font-size: 55px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    
    .service-help {
        margin: 0;
        font-size: 10px;
    }
    .kon {
        margin-left: 100px;
        margin-right: 100px;
    }
}